*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 40px;
    width: 100%;
    position: fixed;
    top: 3px;
    background-color: #3F3F2D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}